.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Federo", sans-serif;
}

.bg-image-sonicMan {
  background-image: url("./assets/partners/sonic.png");
  background-repeat: no-repeat;
  background-size: cover;
}