.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Federo", sans-serif;
}

.bg-image-sonicMan {
  /* background-image: url("https://res.cloudinary.com/dr8pwzxzn/image/upload/v1744658012/image_ewgbmb.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  height: 100%;
}

.respalda-container {
  width: 100%;
  /* margin: 1em auto; */
  /* height: 65vh; */
  align-self: center;
  align-items: center;
}

.respalda-text-container h2,
.respalda-text-container p {
  background: var(--color-Black);
  border-radius: .5em;
  padding: .3em;
}