.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Federo", sans-serif;
}

.bg-image-sonicMan {
  background-image: url("https://res.cloudinary.com/dr8pwzxzn/image/upload/v1742829738/photo_5086826439680044633_x_fyhzt9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.respalda-container {
  width: 85%;
  margin: 1em auto;
  height: 65vh;
  align-self: center;
  align-items: center;
}

.respalda-text-container {
  position: relative;
  left: -13%;
}

.respalda-text-container h2,
.respalda-text-container p {
  background: var(--color-Black);
  border-radius: .5em;
  padding: .3em;
}