@import "tailwindcss";


@theme {
  --color-bgBlue: #253878;
  --color-bgDarkBlue: #03070f;
  --color-Black: rgba(3, 7, 15, 0.81);
  --color-justGray: #7a7a7a;
  --color-blueGray: #d3dde6;
  --color-lightBlue: #44b0de;
  --color-lightBlueHover: #3a9ecb;
  --color-goldenNew: #f7d16e;
  --font-federo: "Federo", sans-serif;
  --cta-btn-padding: 0.75rem 2rem;
}


::-webkit-scrollbar {
  width: .7em;
}

::-webkit-scrollbar-track {
  background: hsla(219, 70%, 4%, 0.81);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: hsla(194, 75%, 30%, 0.782);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(210, 19%, 38%);
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: hsla(220 67% 4% 0.81 / 1) hsla(194, 66%, 44%, 0.782);
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
::after,
::before {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Federo", sans-serif;
  font-size: 15px;
}

/*  TAILWIND CLASSES */

.img-prefooter {
  @apply flex w-full bg-[#ffffff] my-0 m-auto;
}

.img-prefooter img {
  @apply w-2/5 my-0 m-auto;
}

.wsp-link {
  @apply fixed block h-auto left-[90%] bottom-[7%] opacity-[.9];
}

.wsp-icon {
  @apply relative p-2;
}

.wsp-icon:hover {
  @apply w-20;
}

.wsp-icon:active {
  @apply p-2;
}

.footer-container {
  @apply flex justify-evenly p-3 items-center;
}



/* navbar styles */

.header-logo {
  width: 8vw;
  margin: 0.5em;
}

.header-logo-name {
  width: 14em;
}

/* navbar styles */




/* welcome */
.welcome-section,
.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: var(--bgrSolid);
}

/* partners styles  */

/* .description-container {
  background: url("./assets/black.png") no-repeat center center fixed;
  background-size: cover;  
} */

/* Support container */

.support-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 75%;
  height: auto;
  margin: 11em auto;
  padding: 1em 0;
  background-color: #03070f;
  opacity: 0.9;
}

.support-container h2,
.support-container p {
  width: 85%;
  margin: 0 auto;
  font-size: 1.5em;
  padding: .3em;
  text-align: center;
  font-weight: lighter;
}

.support-container h2,
.about-img-container h1 {
  letter-spacing: .2em;
}

.support-container h2 {
  margin-bottom: 1em;
}

.support-container b,
.about-img-container b,
.welcome-section b {
  color: #f7d16e;
}